
div#boite4{

	overflow: hidden;
	background-color: F5F5F5;
}

span#nbarticle{
	  margin-top: 20px;
    font-weight: 500;
		margin-right: 10px;
    color: hsl(0, 0%, 53.3%);
		font-family: Roboto, Arial, sans-serif;
}
.case{
	background-color: F5F5F5;
	padding: 5px
}
.textheadpl {
	padding-top: 14px;
	padding-left: 14px;
}

a{
	text-decoration: none;
}

.Titres{

  vertical-align:210%;
	overflow: hidden;
	font-size: 0.8rem;
	font-weight: bold;
	font-family: Roboto, Arial, sans-serif;
}

.auteur{
	vertical-align: bottom;
	line-size: 0.6rem;
	font-family: Roboto, Arial, sans-serif;
	position: absolute;
	margin-top: 27px;
	margin-left: 119px;

}

.headerplaylist{
	margin-bottom: -8px;
	height: 75px;
	width: 302px;
	background-color: #EEEEEE;
	font-family: Roboto, Arial, sans-serif;
}
